.content-info{
    margin: 100px 0;
}
.content-image{
    width: 100%;
    margin: 40px 0;
}


.btn-first:hover ,.btn-second:hover{
    background: var(btn-primary);
    color: white;
}
p.font-weight-light{
    font-weight:100;
}
.carddetails{
    width: 20rem;
    background: #F8F9FA;
    border-radius: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom-dotted{
    border: 0.6px dashed grey
}
.aboutmesection{
    margin-top: 30px;
    margin-bottom: 50px;
}
.img-responsive{
    width: 250px;
    height: 250px;
}

.card{
    margin-top: 40px;
    margin-bottom: 40px;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}